<div class="row">
  <div class="col-10 mx-auto row" id="index-title">
    <div class="d-flex align-items-end justify-content-center mx-auto pt-2 shadow-sm">
      <h1 class=" text-white">コース一覧</h2>
        <span class="text-white mb-3 ml-2">(<%= @courses.count %>件)</span>
    </div>
      <%= render 'public/courses/search'%>
  </div>
  <div class="row col-12">
  <% if @courses.present? %>
    <% @courses.each do |course| %>
      <div class="col-6 mt-4">
        <div class="shadow index-content">
          <div class="row">
            <div class="col-5 px-0">
              <%= image_tag course.course_images[0].variant(gravity: "Center", resize: "700x400!", crop: "700x400+0+0").processed,
              class:"index-img" %>
            </div>
            <div class="col-7 px-2">
              <div class="card-body card-wrapper">
                <%= link_to course_path(course) do %>
                  <h5 class="card-title text-dark"><%= course.title%></h5>
                  <p class="text-muted card-subtitle card-content">
                    <%= course.address%>(<%= course.distance%>Km)
                  </p>
                <% end %>
                <div class="d-flex my-2 justify-content-center">
                  <div class="mr-2" id="favorite_<%= course.id %>">
                    <%= render 'public/favorites/button', course:course %>
                  </div>
                  <div class="" id="finish_<%= course.id %>">
                    <%= render 'public/finishes/button', course:course %>
                  </div>
                </div>
                  <p class="card-text mt-1 border-top border-bottom card-introduction">
                    <%= safe_join(course.introduction.split("\n"), tag(:br))%>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="col-10 mx-auto mt-4 text-muted">
    <h4>投稿はありません。</h4>
  </div>
  <% end %>
  </div>
</div>

