<div class="row">
  <div class="col-10 mx-auto row" id="index-title">
    <div class="d-flex align-items-center justify-content-center mx-auto pt-2 shadow-sm"
    id="index-title-content">
      <h1 class=" text-white">コース一覧</h2>
        <span class="text-white mb-1 ml-2">(<%= @courses.count %>件)</span>
    </div>
      <%= render 'public/courses/search'%>
  </div>
  <div class="col-10 mx-auto rounded mt-3 text-right">
    <div class="d-inline-block">
      <%= form_with url: courses_path, method: :get, class:"d-inline-flex" do |f| %>
        <%= f.select :sort, {'投稿が新しい順':1, '投稿が古い順':2, '走りたいが多い順':3, '閲覧数が多い順':4},
        {},{ class:"form-control mr-2" } %>
        <%= f.submit "検索", class:"btn btn-sm btn-info" %>
      <% end %>
    </div>
  </div>
  <div class="row col-12 col-md-12 col-lg-12 col-xl-11 mx-auto col-sm-10">
  <% if @courses.present? %>
    <% @courses.each do |course| %>
      <div class="col-12  col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4 mr-auto px-1">
        <div class="shadow index-content">
          <div class="row">
            <div class="col-5 col-sm-5 col-md-5 px-0 col-lg-5 index-img-wrapper">
              <%= link_to course_path(course) do %>
                <%= image_tag course.course_images[0].variant(gravity: "Center", resize: "700x400!", crop: "700x400+0+0").processed,
                class:"index-img" %>
              <% end %>
            </div>
            <div class="col-7 col-sm-7 col-md-7 col-lg-7 px-2">
              <div class="card-body card-wrapper">
                <%= link_to course_path(course) do %>
                  <h5 class="card-title text-dark ml-1 text-center"><%= course.title%></h5>
                  <p class="text-muted card-subtitle card-content ml-1 text-center">
                    <%= get_address(course.addresses) %>(<%= course.distance%>Km)
                  </p>
                <% end %>
                <div class="d-flex mt-2 mb-1 ml-1 index-link-wrapper border-bottom pb-2">
                  <div class="favorite_<%= course.id %>">
                    <%= render 'public/favorites/button', course:course %>
                  </div>
                  <div class="ml-1 finish_<%= course.id %>">
                    <%= render 'public/finishes/button', course:course %>
                  </div>
                </div>
                <div class="row flex-wrap flex-row justify-content-start">
                  <div class="col-12 text-center mb-1">
                    <span>~ 関連ワード ~</span>
                  </div>
                  <% course.entities.limit(4).each do |entity| %>
                    <div class="text-center px-1 mb-3 ml-3">
                      <span class="key_word_tag shadow-sm"><%= entity.key_word %></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="col-10 mx-auto mt-4 text-muted">
    <h4>投稿はありません。</h4>
  </div>
  <% end %>
    <div class="text-center mx-auto mt-5">
      <%= paginate @courses, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

