<table class="table table-hover mt-4 table-striped bg-white border">
  <thead>
    <tr>
      <th class="text-center align-middle">ID</th>
      <th class="text-center align-middle">ユーザー名</th>
      <th class="text-center align-middle">フォロー数</th>
      <th class="text-center align-middle">フォロワー数</th>
    </tr>
  </thead>
  <tbody>
    <% user.followers.each do |user| %>
      <tr>
        <td class="text-center align-middle"><%= user.id %></td>
          <td class="text-center align-middle pt-1 pb-0">
            <%= link_to admin_user_path(user) do %>
              <%= image_tag user.user_image.variant(
              gravity: "Center", resize: "35x35!", crop: "35x35+0+0").processed %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="text-center align-middle"><%= user.favorites.count %></td>
          <td class="text-center align-middle"><%= user.finishes.count %></td>
        </tr>
      <% end %>
    </tbody>
</table>