<div class="row section-content">
  <% if courses.present? %>
    <% courses.each do |course| %>
      <div class="col-6 col-md-3 px-1 section-card-wrapper">
        <div class="card p-1">
          <%= image_tag course.course_images[0], size:"200x120", class:"card-img-top border-bottom" %>
          <div class="card-bogy mb-1">
            <h5 class="card-title mt-1 text-center"><%= course.title %></h5>
            <p class="card-subtitle text-center"><%= get_address(course.addresses) %><br/>
            (<%= course.distance%>Km)</p>
            <div class="d-flex flex-column justify-content-between">
              <div class="col-10 mx-auto text-center mt-1 pt-2 border-top favorite_<%= course.id %>">
                <%= render 'public/favorites/button', course:course %>
              </div>
              <div class="col-9 mx-auto text-center mt-2 mb-1 finish_<%= course.id %>">
                <%= render 'public/finishes/button', course:course %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>
      <h5 class="pl-3 pt-3 text-muted">投稿はありません。</h5>
    </div>
  <% end %>
</div>