<div class="row section-content">
  <% if objects.present? %>
    <% objects.each do |obj| %>
      <div class="col-6 col-md-3 px-1 section-card-wrapper">
        <div class="card p-1">
          <%= image_tag obj.course.course_images[0], size:"200x120", class:"card-img-top border-bottom" %>
          <div class="card-bogy mb-1">
            <h5 class="card-title mt-1 text-center"><%= obj.course.title %></h5>
            <p class="card-subtitle text-center"><%= obj.course.address%><br/>
            (<%= obj.course.distance%>Km)</p>
            <div class="d-flex flex-column justify-content-between">
              <div class="col-10 mx-auto text-center mt-1 pt-2 border-top favorite_<%= obj.course.id %>">
                <%= render 'public/favorites/button', course:obj.course %>
              </div>
              <div class="col-9 mx-auto text-center mt-2 mb-1 finish_<%= obj.course.id %>">
                <%= render 'public/finishes/button', course:obj.course %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>
      <h5 class="pl-3 pt-3 text-muted">投稿はありません。</h5>
    </div>
  <% end %>
</div>