<div class="row">
  <div class="col-12 mx-auto">
    <div class="col-10 rounded" id="user-title">
      <h1 class="text-white py-1 text-center">My Page</h1>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <%= render 'layouts/error', obj:@user %>
      </div>
      <div class="mr-2 mb-2" id="icon-area">
        <%= image_tag @user.user_image.variant(gravity: "Center", resize: "90x90!", crop: "90x90+0+0").processed,
        class:"user-icon", id:"default-icon" %>
      </div>
      <div id="profile_area" class="col-11 col-md-8 col-lg-8">
        <%= render 'public/users/info', user:@user %>
      </div>
      <div class="d-flex flex-column justify-content-end">
      <% if @user == current_user %>
        <% if !current_user.guest_match? %>
          <div class="mt-2" id="user-btn">
            <%= render 'public/users/button', user: @user %>
          </div>
          <div class="mt-2">
            <%= link_to  "退会する", withdrawal_path(id: @user), method: :patch,
            class:"btn btn-danger btn-sm", "data-confirm" => "本当に退会しますか?" %>
          </div>
        <% end %>
      <% else %>
        <% unless @user.is_deleted? %>
          <div id="relationships_btn">
            <%= render 'public/relationships/button', user:@user %>
          </div>
        <% end %>
    <% end %>
    </div>
    </div>
    <div class="bg-white mt-5 border col-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link nav-tag active text-secondary" href="#course" data-id="course" data-toggle="tab">
            投稿したコース(<%= @user.courses.count %>)</a>
        </li>
         <li class="nav-item" id="favorite-tag">
          <%= render 'public/favorites/favorite_nav', user: @user %>
        </li>
        <li class="nav-item" id="finish-tag">
          <%= render 'public/finishes/finish_nav', user: @user %>
        </li>
        <li class="nav-item" >
          <a class="nav-link nav-tag text-secondary" href="#followed" data-id="followed" data-toggle="tab">
          フォロー(<%= @user.following.count %>)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tag text-secondary" href="#follower" data-id="follower" data-toggle="tab">
          フォロワー(<%= @user.followers.count %>)</a>
        </li>
      </ul>
    </div>
    <div class="bg-light border-bottom rounded-bottom border-left border-right col-12 tab-content">
      <section class="content active bg-light tab-pane" id ="course">
        <%= render 'public/users/course_card', courses: @user.courses %>
      </section>
      <section class="content bg-light tab-pane" id ="favorite">
        <%= render 'public/users/favorite_card', objects: @user.favorites %>
      </section>
      <section class="content bg-light tab-pane" id ="finish">
        <%= render 'public/users/favorite_card', objects: @user.finishes %>
      </section>
      <section class="content bg-light tab-pane" id ="followed">
        <%= render 'public/users/followed_card', user: @user%>
      </section>
      <section class="content bg-light tab-pane" id ="follower">
        <%= render 'public/users/follower_card', user: @user %>
      </section>
    </div>
  </div>
</div>
